<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="RobotFramework SimRel0922" sequenceNumber="1663849000">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rcp.feature.group" version="4.25.0.v20220831-1800"/>
      <unit id="org.eclipse.ant.core" version="3.6.500.v20220718-1722"/>
      <unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
      <unit id="org.eclipse.pde.feature.group" version="3.14.1300.v20220831-1800"/>
      <unit id="org.eclipse.emf.ant" version="2.11.0.v20200324-0723"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.31.0.v20220817-1401"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.31.0.v20220730-0849"/>
      <unit id="org.eclipse.emf.importer.ecore" version="2.10.0.v20200324-0723"/>
      <unit id="org.eclipse.emf.importer" version="2.12.0.v20190321-1539"/>
      <unit id="org.eclipse.ant.launching" version="1.3.400.v20220718-1722"/>
      <unit id="org.eclipse.core.runtime" version="3.26.0.v20220813-0916"/>
      <unit id="org.junit" version="4.13.2.v20211018-1956"/>
      <unit id="org.eclipse.jdt.junit.runtime" version="3.7.0.v20220609-1843"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.25.0.v20220831-1800"/>
      <repository location="https://download.eclipse.org/releases/2022-09"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository location="https://download.eclipse.org/nebula/releases/2.7.2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core" version="2.0.4.202209080509"/>
      <repository location="https://download.eclipse.org/nattable/snapshots/42/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="javax.annotation" version="1.3.5.v20200909-1856"/>
      <unit id="org.apache.log4j" version="1.2.19.v20220208-1728"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220830213456/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.junit4_x" version="4.0.0.202206011610"/>
      <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="4.0.0.202206011610"/>
      <unit id="org.eclipse.swtbot.nebula.nattable.feature.group" version="4.0.0.202206011610"/>
      <unit id="org.eclipse.swtbot.nebula.nattable.finder" version="4.0.0.202206011610"/>
      <unit id="org.eclipse.swtbot.nebula.nattable.feature.jar" version="4.0.0.202206011610"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="4.0.0.202206011610"/>
      <repository location="https://download.eclipse.org/technology/swtbot/releases/4.0.0/"/>
    </location>
  </locations>
</target>
